# Data Visualisation

### Homework

Before you begin, remember to import the necessary libraries.

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns
sns.set_theme()

#### Standard Exercises

In [2]:
rndm = pd.DataFrame({'day_number':range(1,90), 
                     'pos_trend':np.random.rand(len(range(1,90)))*50 + range(1,90), 
                     'neg_trend':np.random.rand(len(range(1,90)))*50 + 25 - range(1,90), })
rndm.head()

   day_number  pos_trend  neg_trend
0           1  26.579580  58.750123
1           2  26.143981  42.515431
2           3  21.663537  43.746520
3           4  47.411789  57.341568
4           5  35.493312  37.894608

1. Given the above DataFrame `rndm`, use Matplotlib to plot a linechart showing the evolution of the `pos_trend` variable. Then, on the same chart, plot also the `neg_trend` column.

2. Add a title, labels for the x- and y-axes and a legend as per the following instructions:
- title: "Direct vs Inverse relationship"
- xlabel: "Days"
- ylabel: "Value"
- legend: label the pos_trend as "direct" and the neg_trend as "inverse"; position it in the "upper left" corner

3. Using the Seaborn library, load the `diamonds` dataset and save it to a DataFrame object named `dd`. Check the contents of the dataset.

4. Create a new DataFrame having the average `carat` and `price` grouped by the `clarity` of the diamond. (hint: check out [this guide](https://4cs.gia.edu/en-us/diamond-clarity/) for a reference on what each clarity category name means. *(hint: the carat of a stone represents its size)*

5. Create a bar chart showing the average `price` per `clarity` category. Then create a second chart showing the average `carat` per `clarity` category. Comment the results of the two charts in relation to the meaning of each clarity category name.

6. Let's investigate this further. Using the `dd` DataFrame, produce a scatterplot showing the relationship between the `carat` (on the x-axis) and the `price` (on the y-axis). Then, use the `clarity` variable to change the color of each circle (that is, of each diamond) in the chart. How can you interpret this chart visually, particularly in relation to the previous point?

#### Advanced Exercises

You are free to use whichever data visualisation library you prefer, although the Seaborn library is the recommended option.

1. Load the `taxis` dataset from the `seaborn` example dataset repository and call it `taxi`.

2. Depending on the library version you have installed, the data type of the `pickup` and `dropoff` columns, may or may not be interpreted as date-times. Check the data type of the variables in the dataset and in case these are interpreted as strings (object data type), convert those two columns to date-time (remember to assign the result back to the column itself!). *(hint: check out [this Stack Overflow page](https://stackoverflow.com/questions/17134716/convert-dataframe-column-type-from-string-to-datetime) for a tip on how to do it)*

Given a date-time column, you can **extract a date-part** from it using the `dt` accessor. Say we wanted to create a new column called `pickup_date` where we [extract the date](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.date.html) from the `pickup` date-time object, we would write (run the cell below):

In [ ]:
# run this cell (do not delete)!
taxi['pickup_date'] = taxi['pickup'].dt.date

3. Given what you just read, create: 
- a new column named `pickup_weekday` where you [extract the day of the week](https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.weekday.html) from the `pickup` date; 
- a new column named `pickup_hour` where you [extract the hour of the day](https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.hour.html)

4. Create a bar chart that shows the number of rides that happened in each day of the week. Which day of the week is the busiest? *(hint: check out the documentation to find out which number corresponds to which weekday)*

5. Create a bar chart that shows the number of rides that happened in each hour of the day. Which hour of the day is the busiest?

6. Add a new column to the DataFrame called `tip_pct` that is the percentage of the `tip` relative to the `fare`. Then produce a bar chart that shows the average `tip_pct` by `pickup_zone`. Which borough tips the most relative to the fare paid? Would the ranking have changed if we just looked at the absolute tip value?

7. Create a copy of the `taxi` DataFrame and call it `taxi_tip`. Then filter this new DataFrame so to only keep rows where the `tip` is greater than 0 (remember to assign the resulting DataFrame to itself in order to save the filtered view).

8. Create a scatterplot showing the **relationship** between `fare` (on the x-axis) and `tip` (on the y-axis). Give a title to the chart and reset teh x- and y-axis labels to "Ride Fare" and "Ride Tip" respectively.

9. The default settings of the scatterplot draw for each observation a solid circle with a white border. This can be quite heavy on the eye, especially if there are many observations close to each other. Look at the [documentation](https://seaborn.pydata.org/generated/seaborn.scatterplot.html) of the `sns.scatterplot()` function and use the `linewidth` and the `alpha` parameters to remove the white border and increase the transparency of each circle in the chart.

10. Notice that between the Ride Fare values of 50 and 60 dollars, there is a vertical cluster of rides with the same fare amount (and different tip values). What is the exact value of this cluster anomaly? What do you think that is? *(hint: these fares are from NYC taxi rides, try to do a research on Google to see if you can find out more about it)*