

# Pandas for Exploratory Data Analysis

---
<br>

<center><img src="https://www.telegraph.co.uk/content/dam/news/2016/08/23/106598324PandawaveNEWS_trans_NvBQzQNjv4Bqeo_i_u9APj8RuoebjoAHt0k9u7HhRJvuo-ZLenGRumA.jpg?imwidth=600"></center>

## Learning Objectives

- Define what Pandas is and how it relates to data science.
- Manipulate Pandas `DataFrames` and `Series`.
- Filter and sort data using Pandas.
- Manipulate `DataFrame` columns.
- Know how to handle null and missing values.

## 1. What Is Pandas?

Pandas is a Python library that primarily adds two new datatypes to Python: `DataFrame` and `Series`.

- A `Series` is a sequence of items, where each item has a unique label (called an `index`).
- A `DataFrame` is a table of data. Each row has a unique label (the `row index`), and each column has a unique label (the `column index`).
- Note that each column in a `DataFrame` can be considered a `Series` (`Series` index).

Behind the scenes, these datatypes use the NumPy ("Numerical Python") library.

NumPy primarily adds the `ndarray` (n-dimensional array) datatype to Pandas. An `ndarray` is similar to a Python list â€” it stores ordered data. However, it differs in three respects:
 - Each element has the same datatype (typically fixed-size, e.g., a 32-bit integer).
 - Elements are stored contiguously (immediately after each other) in memory for fast retrieval.
 - The total size of an `ndarray` is fixed.

Storing `Series` and `DataFrame` data in `ndarray`s makes Pandas faster and uses less memory than standard Python datatypes.

Many libraries (such as scikit-learn) accept `ndarray`s as input rather than Pandas datatypes, so we will frequently convert between them.


### 1.1 Using Pandas

Pandas is frequently used in data science because it offers a large set of commonly used functions, is relatively fast, and has a large community. Because many data science libraries also use NumPy to manipulate data, you can easily transfer data between libraries.

Pandas is a large library that typically takes a lot of practice to learn. It heavily overrides Python operators, resulting in odd-looking syntax. For example, given a `DataFrame` called `cars` which contains a column `mpg`, we might want to view all cars with mpg over 35. To do this, we might write: `cars[cars['mpg'] > 35]`. In standard Python, this would most likely give a syntax error.

Pandas also highly favors certain patterns of use. For example, looping through a `DataFrame` row by row is highly discouraged. Instead, Pandas favors using **vectorized functions** that operate column by column. This is because each column is stored separately as an `ndarray`, and NumPy is optimized for operating on `ndarray`s.

### 1.2 Viewing Documentation

There are a few ways to find more information about a method.

In Jupyter, you can quickly view documentation for a method by following the method name by a `?`, as follows:

```
users.head?
```

```
Signature: users.head(n=5)
Docstring: Returns first n rows
```

The `?` is a shortcut for the built-in Python function `help`, which returns the method's docstring. For example:
```
help(users.head)
```

### 1.3 Class Methods and Attributes

Pandas `DataFrame`s are Pandas class objects and therefore come with attributes and methods. To access these, follow the variable name with a dot. For example, given a `DataFrame` called `users`:

```
- users.index       # accesses the `index` attribute -- note there are no parentheses. attributes are not callable
- users.head()      # calls the `head` method (since there are open/closed parentheses)
- users.head(10)    # calls the `head` method with parameter `10`, indicating the first 10 rows. this is the same as:
- users.head(n=10)  # calls the `head` method, setting the named parameter `n` to have a value of `10`.
```

We know that the `head` method accepts one parameter with an optional name of `n` because it is in the documentation for that method. Let's see how to view the documentation next.

In [1]:
# Load Pandas into Python
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
users = pd.read_csv('./data/user.tbl', sep='|')
users.head(5)

FileNotFoundError: [Errno 2] No such file or directory: './data/user.tbl'

In [ ]:
type(users)             # Check the type of users

In [ ]:
 # The row index (aka "the row labels" â€” in this case integers)
users.index

In [ ]:
# Column names (which is an index)
users.columns

In [ ]:
# Datatypes of each column â€” each column is stored as an ndarray, which has a datatype
users.dtypes

In [ ]:
# Number of rows and columns
users.shape

In [ ]:
# All values as a NumPy array
users.values

In [ ]:
# Concise summary (including memory usage) â€” useful to quickly see if nulls exist
users.info()

### 1.4 Selecting columns and rows

Pandas `DataFrame`s have structural similarities with Python-style lists and dictionaries.  

In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
users.describe()

In [ ]:
users['gender'][:10]

In [ ]:
# DataFrame columns are Pandas Series.
type(users['gender'])

In [ ]:
# Select a column â€” returns a Pandas Series (essentially an ndarray with an index)
users['gender'].shape

In [ ]:
type(users[['gender']])

In [ ]:
users[['gender']].shape

In [ ]:
# Select one column using the DataFrame attribute.
users.gender[:10]

# While a useful shorthand, these attributes only exist
# if the column name has no punctuations or spaces.

When selecting columns and rows from our dataframe we should get used to using the `.loc` operator. This takes two arguments, the first is the rows we want and the second is the columns we want to select.

We can use a colon to specify we want all columns or rows, the following will return the whole dataframe:
`df.loc[:, :]`

In [ ]:
users

In [ ]:
users.dtypes

In [ ]:
users.groupby('age').mean()

In [ ]:
users.value_counts()

In [ ]:
users.loc[:,:].shape

In [ ]:
users.iloc[:,::3]

In [ ]:
users.loc[:5, :] #unlike Python ranges, Pandas index ranges INCLUDE the final value in the range.

In [ ]:
users.loc[0:2, ['gender', 'age']]

In [ ]:
users.loc[0:2, 'gender' :] #we can use ranges on columns too

You can use `.iloc` to filter rows and columns based on integer position.

Rows and columns use indicies, so `.iloc` lets you refer to indicies via their index rather than value.

**NOTE:** as this is an *integer range* not a *pandas range* it will not include the final value!

In [ ]:
users.iloc[0:5, [0, 3]]

### 1.5 Summarizing the data

Pandas has a bunch of built-in methods to quickly summarize your data and provide you with a quick general understanding.

In [ ]:
# Describe all numeric columns.
users.describe()

In [ ]:
users.describe(include=['object'])

In [ ]:
# Describe a single column â€” recall that "users.gender" refers to a Series.
users.gender.describe()

In [ ]:
# Calculate the mean of the ages.
users.age.mean()

In [ ]:
# A histogram of a column (the distribution of ages).
users.age.hist(bins=60,range=[5, 80],figsize=(14,6),color='red',alpha=0.6);
plt.xlabel('Age of students');
plt.ylabel('Count');

In [ ]:
#Count the number of occurrences of each value
users.gender.value_counts()     # Most useful for categorical variables

In [ ]:
users.gender.value_counts().plot(kind='bar',figsize=(14,6),color='red',alpha=0.6);
plt.xlabel('Gender of students');
plt.ylabel('Count');

## Exercise 1

In [ ]:
# Read drinks.csv into a DataFrame called "drinks".
drinks = pd.read_csv('data/drinks.csv')

In [ ]:
# Print the head and the tail.
drinks.head()

In [ ]:
drinks.tail()

In [ ]:
# Examine the default index, datatypes, and shape.
drinks.index

In [ ]:
drinks.info()

In [ ]:
drinks.shape

In [ ]:
# Print the beer_servings Series.
drinks.beer_servings.head()

In [ ]:
# Calculate the average (mean) beer_servings for the entire data set.
drinks.beer_servings.mean()

In [ ]:
# Count the number of occurrences of each "continent" value and see if it looks correct.
drinks.continent.value_counts()

### 1.6 Filtering and Sorting

We can use simple operator comparisons on columns to extract relevant or drop irrelevant information.

In [ ]:
# Create a Series of Booleansâ€¦
# In Pandas, this comparison is performed element-wise on each row of data.

m_age_below_20 = users['age'] < 20
m_age_below_20.head()

In [ ]:
# In Pandas, indexing a DataFrame by a Series of Booleans only selects rows that are True in the Boolean.
users.loc[m_age_below_20, :].head()

In [ ]:
m_students = users.occupation == 'student'

student_frame = users.loc[m_students, :]

**Important:** This creates a view of the original DataFrame, not a new DataFrame.

If you alter this view (e.g., by storing it in a variable and altering that) you will alter only the slice of the DataFrame and not the actual DataFrame itself.

Notice that Pandas gives you a `SettingWithCopyWarning` to alert you of this.

In [ ]:
student_frame['new col'] = 12

In [ ]:
# we should make a copy of the dataframe when we do this so that we don't reference the original dataframe anymore
student_frame = users.loc[m_students, :].copy()

In [ ]:
# It is best practice to use .loc and .iloc instead
student_frame.loc[:,'new_col'] = 12

In [ ]:
# Select the new column from the filtered results.
student_frame.iloc[:5, 5]

#### Logical filtering with multiple conditions

* Ampersand (`&`) for `AND` condition.
* Pipe (`|`) for `OR` condition.

It is important to put parentheses around each expression because `&` and `|` have higher precedence than `<` or `==`

In [ ]:
mask = (drinks.beer_servings > 25) & (drinks.continent == 'EU')
drinks.loc[mask].head()

In [ ]:
mask = (drinks.beer_servings > 25) & ((drinks.continent == 'EU') | (drinks.continent == 'SA'))
drinks.loc[mask].head()

In [ ]:
#preferred alternative to multiple OR conditions:

mask = (drinks.beer_servings > 25) & drinks.continent.isin(['EU', 'SA'])
drinks.loc[mask].head()

#### Sorting

In [ ]:
users.age.sort_values().head()

In [ ]:
users.age.sort_values(inplace = True)

In [ ]:
users.sort_values('age', inplace = True)

In [ ]:
# Use descending order instead.
users.sort_values('age', ascending=False).head()

In [ ]:
# Sort by multiple columns.
users.sort_values(['occupation', 'age'], ascending = [True, False]).head()

<a id="exercise-two"></a>
### Exercise 2
Use the `drinks.csv` or `drinks` `DataFrame` from earlier to complete the following.

In [ ]:
# Filter DataFrame to only include European countries.
drinks.loc[drinks.continent == 'EU', :][:10]

In [ ]:
# Filter DataFrame to only include European countries with wine_servings > 300.
drinks.loc[(drinks.continent == 'EU') & (drinks.wine_servings > 300), :]

In [ ]:
# Calculate the average beer_servings for all of Europe.
drinks.loc[(drinks.continent == 'EU'), 'beer_servings'].mean()

In [ ]:
# Determine which 10 countries have the highest total_litres_of_pure_alcohol.
drinks.sort_values('total_litres_of_pure_alcohol', ascending=False)[['country', 'total_litres_of_pure_alcohol']].head(10)

### 1.7 Renaming, Adding, and Removing Columns

In [ ]:
# Print the column labels
print(drinks.columns)

In [ ]:
# Rename one or more columns in a single output using value mapping.
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

In [ ]:
# Replace all column names using a list of matching length.
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']

# Replace during file reading (disables the header from the file).
drinks = pd.read_csv('data/drinks.csv', header=0, names=drink_cols)

In [ ]:
drinks.head()

In [ ]:
# Replace after file has already been read into Python.
drinks.columns = drink_cols

#### Easy Column Operations

Rather than having to reference indexes and create for loops to do column-wise operations, Pandas is smart and knows that when we add columns together we want to add the values in each row together.

In [ ]:
# Add a new column as a function of existing columns.
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000

drinks.head()

#### Removing Columns

In [ ]:
# Drop multiple columns.
drinks.drop(['mL', 'servings'], axis=1)

In [ ]:
# Drop on the original DataFrame rather than returning a new one.
drinks.drop(['mL', 'servings'], axis=1, inplace=True)

### 1.8 Handling Missing Values

Sometimes, values will be missing from the source data or as a byproduct of manipulations. It is very important to detect missing data. Missing data can:

- Make the entire row ineligible to be training data for a model.
- Hint at data-collection errors.
- Indicate improper conversion or manipulation.
- Actually not be missing â€” it sometimes means "zero," "false," "not applicable," or "entered an empty string."

For example, a `.csv` file might have a missing value in some data fields:

```
tool_name,material,cost
hammer,wood,8
chainsaw,,
wrench,metal,5
```

When this data is imported, "null" values will be stored in the second row (in the "material" and "cost" columns).

In Pandas, a "null" value is either `None` or `np.NaN` (Not a Number). Many fixed-size numeric datatypes (such as integers) do not have a way of representing `np.NaN`. So, numeric columns will be promoted to floating-point datatypes that do support it. For example, when importing the `.csv` file above:

- **For the second row:** `None` will be stored in the "material" column and `np.NaN` will be stored in the "cost" column. The entire "cost" column (stored as a single `ndarray`) must be stored as floating-point values to accommodate the `np.NaN`, even though an integer `8` is in the first row.

In [ ]:
# Missing values are usually excluded in calculations by default.
drinks.continent.value_counts()

In [ ]:
# Includes missing values
drinks.continent.value_counts(dropna=False)

In [ ]:
# Find missing values in a Series.
# True if missing, False if not missing
drinks.continent.isnull().sum()

In [ ]:
# True if not missing, False if missing
drinks.continent.notnull().sum()

In [ ]:
# Only show rows where continent is not missing.
drinks.loc[drinks.continent.notnull(), :].head()

#### Dropping missing values

In [ ]:
# Drop a row if ANY values are missing from any column â€” can be dangerous!
drinks.dropna()

In [ ]:
# Drop a row only if ALL values are missing.
drinks.dropna(how='all')

#### Filling Missing Values

You may have noticed that the continent North America (NA) does not appear in the `continent` column. Pandas read in the original data and saw "NA", thought it was a missing value, and converted it to a `NaN`, missing value.

In [ ]:
# Fill in missing values with "NA" â€” this is dangerous to do without manually verifying them!
drinks.continent.fillna(value='NA')

In [ ]:
# Turn off the missing value filter â€” this is a better approach!
drinks = pd.read_csv('data/drinks.csv', header=0, names=drink_cols, na_filter=False)

In [ ]:
drinks.continent.value_counts()

In [ ]:
drinks.isnull().sum()

### 1.8 Understanding Pandas Axes

In [ ]:
# Sums "down" the 0 axis (rows) â€” so, we get the sums of each column
drinks.sum(axis=0)

In [ ]:
# axis=0 is the default.
drinks.sum()

In [ ]:
# Sums "across" the 1 axis (columns) â€” so, we get the sums of numeric values in the row (beer+spirit+wine+liters+â€¦)
drinks['wine_liters'] = drinks[['wine', 'liters']].sum(axis=1)
drinks.head()

<a id="exercise-three"></a>
### Exercise 3

In [ ]:
# Read ufo.csv into a DataFrame called "ufo".
ufo_data = 'data/ufo.csv'
ufo = pd.read_csv(ufo_data)

In [ ]:
ufo.head()

In [ ]:
# Check the shape of the DataFrame.
ufo.shape

In [ ]:
# What are the three most common colors reported?
ufo['Colors Reported'].value_counts().head(3)

In [ ]:
# Rename any columns with spaces so that they don't contain spaces.
ufo.columns = [c.replace(" ", "_") for c in ufo.columns]
ufo.columns

In [ ]:
# For reports in VA, what's the most common city?
ufo.loc[ufo.State == 'VA', 'City'].value_counts().head(1)

In [ ]:
# Print a DataFrame containing only reports from Arlington, VA.
ufo.loc[(ufo.State == 'VA') & (ufo.City == 'Arlington'), :]

In [ ]:
# Count the number of missing values in each column.
ufo.isna().sum()

In [ ]:
# How many rows remain if you drop all rows with any missing values?
ufo.dropna().shape

### 1.9 Split-Apply-Combine

Split-apply-combine is a pattern for analyzing data. Suppose we want to find mean beer consumption per country. Then:

- **Split:** We group data by continent.
- **Apply:** For each group, we apply the `mean()` function to find the average beer consumption.
- **Combine:** We now combine the continent names with the `mean()`s to produce a summary of our findings.

In [ ]:
# For each continent, calculate the mean beer servings.
drinks.groupby('continent').beer.mean()

In [ ]:
# For each continent, calculate the mean of all numeric columns.
drinks.groupby('continent').mean()

In [ ]:
# For each continent, describe beer servings.
drinks.groupby('continent').beer.describe()

In [ ]:
# Similar, but outputs a DataFrame and can be customized â€” "agg" allows you to aggregate results of Series functions
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])

In [ ]:
# For each continent, count the number of rows.
print((drinks.groupby('continent').continent.count()))
print((drinks.continent.value_counts()))   # should be the same

<a id="exercise-four"></a>
### Exercise 4

Use the "users" `DataFrame` or "users" file in the Data folder to complete the following using the `groupby` method

In [ ]:
users.head()

In [ ]:
# For each occupation in "users", count the number of occurrences.
users.groupby('occupation')['user_id'].count().sort_values()

In [ ]:
# For each occupation, calculate the mean age.
users.groupby('occupation')['age'].mean().sort_values()

In [ ]:
# For each occupation, calculate the minimum and maximum ages.
users.groupby('occupation')['age'].agg(['min', 'max'])

In [ ]:
# For each combination of occupation and gender, calculate the mean age.
users.groupby(['occupation', 'gender'])['age'].mean().unstack()

### 1.10 Merging `DataFrames`

In [ ]:
import pandas as pd
movie_cols = ['movie_id', 'title']
movies_filename = 'data/movies.tbl'

movies = pd.read_csv(
    movies_filename,
    sep='|',
    header=None,
    names=movie_cols,
    usecols=[0, 1],
    encoding='latin-1')

movies.head()

In [ ]:
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_filename = 'data/movie_ratings.tsv'

ratings = pd.read_csv(ratings_filename, sep='\t', header=None, names=rating_cols)
ratings.head()

In [ ]:
print(ratings.shape)
print(movies.shape)

In [ ]:
# Merge "movies" and "ratings" (inner join on "movie_id").
movie_ratings = movies.merge(ratings, how='inner', on='movie_id', validate='1:m')
movie_ratings.head()

In [ ]:
print(movies.shape)
print(ratings.shape)
print(movie_ratings.shape)

<a id="summary"></a>
### Summary

Believe it or not, we've only barely touched the surface of everything that Pandas offers. Don't worry if you don't remember most of it â€” for now, just knowing what exists is key. Remember that the more you use Pandas to manipulate data, the more of these functions you will take interest in, look up, and remember.

In this notebook, the most important things to familiarize yourself with are the basics:
- Manipulating `DataFrames` and `Series`
- Filtering columns and rows
- Handling missing values
- Split-apply-combine (this one takes some practice!)